*{
  margin:0;
  padding: 0;
}

header{
  background-color: white;
  height: 80px;
  padding: 15px 0;
}

nav{
  /* border: 3px solid red; */
  width: 1300px;
  /* height: px; */
  margin: 0px auto;
  display: flex;
  align-items: center;
}

#logo-img{
  border: none;
  /* border:1px solid black; */
  margin-right: 100px;
}

#dropdown-container{
  display: flex;
}

.dropdown{
  position: relative;
  margin: 10px;
}

.dropdown-menu{
  cursor:pointer;
  padding: 15px;
  font-size: 16px;
  color: black;
  text-align: center;
  margin :0%;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: gainsboro;
  margin :100px;
  
}

.dropdown-content ul {
  /* 리스트에 점 삭제기능 */
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.dropdown-content ul li{
  padding: 12px 16px;
}

.dropdown-content ul li a{
  /* a 태그는 밑줄 나옴  */
  color: black;
  /* 밑줄 삭제 */
  text-decoration: none;
  display: block;
}

.dropdown-content ul li a:hover{
  background-color: darkgray;
}

.dropdown:hover .dropdown-content{
  display : block;
}
#logo{
   display: flex;
  float: right;
  
}

main{
  background-color: gray;
  height:3600px;
}

#div-1{
  height: 500px;
  background-color: beige;
}

#div-2{
  height: 700px;
  background-color: salmon;
}

#div-3{
  height: 1000px;
  background-color: yellow;
}

#div-4{
  height: 600px;
  background-color: orange;
}

#div-5{
  height: 800px;
  background-color: red;
  border: 1px solid black;
}

footer{
  background-color: aqua;
  height: 500px;
}