*{
  margin:0;
  padding: 0;
}

header{
  background-color: white;
  height: 80px;
  padding: 15px 0;
}

nav{
  /* border: 3px solid red; */
  width: 1300px;
  height: 100px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

#logo-img{
  border: none;
  /* border:1px solid black; */
  margin-right: 100px;
}

#dropdown-container{
  display: flex;
  margin: 55px;
  height: auto;
}

.dropdown{
  position: relative;
  margin: 0%;
}

.dropdown-menu{
  cursor:pointer;
  padding: 15px;
  font-size: 16px;
  color: black;
  text-align: center;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: gainsboro;
  width: 350px;
}


.pr ul{
  display: block;
  width: 50px;
  padding: 0px;
  margin: 0px;
}

.dropdown-content ul {
  /* 리스트에 점 삭제기능 */
  list-style-type: none; 
  padding: 0px;
  margin: 0px;
  display: flex;
}

 #dropdown-content ul{
  display: flex;
} 
.dropdown-content ul li{
  padding: 12px 16px;
}

.dropdown-content ul li a{
  /* a 태그는 밑줄 나옴  */
  color: black;
  /* 밑줄 삭제 */
  text-decoration: none;
  /* display: block; */
}

.dropdown-content ul li a:hover{
  background-color: black;
}

.dropdown:hover .dropdown-content{
  display : block;
  width: 195px;
  /* background-color: black; */
}

.dropdown:hover #pr{
  background-color: black;
  border-radius: 30px;
}

.dropdown:hover #pr li a{
  color: white;
}

.dropdown:hover #story{
  display: block;
  width: 600px;
  background-color: black;
  border-radius: 30px;
}

.dropdown:hover #story li a{
  color:  white;
}

.dropdown:hover #skill{
  display: block;
  width: 150px;
  background-color: black;
  border-radius: 30px;
}
.dropdown:hover #skill li a{
  color: white;
}

.dropdown:hover #promise li a{
  display: block;
  font-size: 16px;
  color: white;

}

.dropdown:hover #promise{
  width: 380px;
  background-color: black;
  border-radius: 30px;
}

.dropdown:hover #news li a{
  display: block;
  font-size: 16px;
  color: white;
}
.dropdown:hover #news{
  width: 200px;
  background-color: black;
  border-radius: 30px;
}
.dropdown-content{
  display: none;
}



#side-logo{
 margin-left: 15%;
  
} 
 /* 메인 */
 
 
 /* 메인 전체사이즈 */
main{
  background-color: white;
  height:5000px;
}
/* 메인1 사진만 첨부 */
.first-name{
  height: 750px;
  width: 1400px;
  margin: auto;
 }

 /* 1번 : 카카오와 카카오 그룹이 축적해온 이야기들 */
.divkakao{
  height: 80px;
  background-color: white;
  width: 1400px;
  /* margin: auto; */
  display: flex;
  font-size: 30px;
}

.logo-film{
  margin-left: 10%;
}

.stop{
  width: 60px;
  margin-left: 16%;
}

.kakaoimg {
  height: 550px;
  display: flex;
  cursor: pointer;
  margin: auto;
  padding: 0px;
  justify-content: center;

}

/* 더 나은 세상응ㄹ 만드는 카카오 서비스 */
.divmore-section{
  height: 700px;
  width: 1400px;
  background-color: white;
  margin: 0px auto ;
  display: flex;
  /* justify-content: left; */
  font-size: 48px;
}
.divmore{
  height: 80px;
  display: flex;
}

.logo-more{
  display: flex;
  width: 80px;
  height: 80px;
}
.more span{
  height: 50px;
  width: 695px;
}

.item-container{
  background-color: white;
      height: 500px;
      /* section-a, section-b를 가로로 배치해야함 */
      display: flex;
      /* justify-content: space-between; */
      margin-left: 5%;
}

.container1{
  width: 700px;
  height: 500px;
  /* border: 1px solid black; */
  /* display: flex; */
  /* margin-left: 50px; */
} 
/* 커뮤니케이션 */
.item1{
  width: 600px;
  padding: 20px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  margin : 10px;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
} 

/* .item1 strong{
  margin: 10px;
  align-items: center;
  justify-content: space-between;
} */

.item1 a{
  width: 205px;
}

.item1 a img{
  width: 100%;
}

.item1-logo {
  display: flex;
  /* margin: 0px; */
  width: 250px;
  justify-content: space-between;
  align-items: center;
  
}
/* 일상편의 */

.item1-1{
  width: 600px;
  padding: 20px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  margin : 10px;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
} 

.item1-1 a{
  width: 205px;
}

.item1-1 a img{
  width: 100%;
}

.item1-1-logo {
  display: flex;
  /* margin: 0px; */
  width: 250px;
  justify-content: space-between;
  align-items: center;
  
}
/* 엔터테인먼트 */
.item1-2{
  width: 600px;
  padding: 20px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  margin : 10px;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
} 

.item1-2 a{
  width: 205px;
}

.item1-2 a img{
  width: 100%;
}

.item1-2-logo {
  display: flex;
  /* margin: 0px; */
  width: 250px;
  justify-content: space-between;
  align-items: center;
  
}

.container2{
  width: 700px;
} 
/* 비즈니스 */
.item2{
  width: 600px;
  padding: 20px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  margin : 10px;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
} 

.item2 a{
  width: 205px;
}

.item2 a img{
  width: 100%;
}

.item2-logo {
  display: flex;
  /* margin: 0px; */
  width: 250px;
  justify-content: space-between;
  align-items: center;
  
}

/* 쇼핑 */
.item2-1{
  width: 600px;
  padding: 20px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  margin : 10px;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
} 

.item2-1 a{
  width: 205px;
}

.item2-1 a img{
  width: 100%;
}

.item2-1-logo {
  display: flex;
  /* margin: 0px; */
  width: 250px;
  justify-content: space-between;
  align-items: center;
  
}
/* 소셜임팩트 */
.item2-2{
  width: 600px;
  padding: 20px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  margin : 10px;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
} 

.item2-2 a{
  width: 205px;
}

.item2-2 a img{
  width: 100%;
}

.item2-2-logo {
  display: flex;
  width: 140px;
  /* justify-content: space--between; */
  align-items: center;
  
}

/* 서비스 전체보기 */
.container3{
  width: 350px;
  height: 80px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 50px;
  margin:0px auto 60px auto;
  font-size: 25px;
}

.service{
  display: flex;
  margin-top: auto;
  justify-content: center;
  cursor: pointer;
  /* padding: 6%; */
}

.service h6{
  margin-top: 20px;
  font-size: 25px;
}

.service-logo img{
 /* height: 70px; */
 margin-top: 25%;
}


/* 3번 : 오늘의 뉴스 */
.news-main{
  height: 1100px;
  width: 1400px;
  background-color: white;
}

.news{
  margin-left: 80px;
  display: flex;
  /* justify-content: left; */
  font-size: 35px;
  width: 500px;
}



.newslogo{
  height: 65px;
  width: 55px;
  /* margin: 20px auto auto 20px; */
  font-size: 40px;
  display: flex;
} 

.news-ment h6{
display: flex;
font-size: 40px;
height: 55px;
/* margin-left: 10px; */

}

.news-container{
  height: 600px;
  display:center;
  /* margin: auto; */
  margin-left: 4%;
}
 
.todaynews{
  width: 1300px;
  height: 400px;
  display: flex;
  
  /* margin-left: 10; */
}

.todaynews a{
margin : auto;
}
/* 뉴스 섹션2 */
/* 뉴스 컨테이너 2 */
 .news-container2{
  width: 650px;
  height: 200px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  /* margin-left: 4%; */
  position: relative;
  margin: 20px 10px 0px 60px ;
 }
 .news1{
  display: flex;
 }

 .img1-1{
  margin: 30px 5px 0px 30px;
 }

 .img1-2{
  margin:30px 5px 0px 10px;
 }

 .date1{
  font-size: 15px;
  margin:45px 5px 0px 10px;
 }

 .img1-3{
  margin: 30px 5px 0px 370px;
 }

 .news1-ment{
  /* overflow: hidden; */
  font-size: 35px;
  height: 80px;
  /* margin: 15px 0px 0px 0px; */
  margin-left: 6%;
  margin-top: 18px;
  cursor: pointer;
 }

 .news1-ment a{
  text-decoration: none;
  color: black;
}

 /* 뉴스 컨테이너3 */

 .news-container3{
  width: 680px;
  height: 200px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  position: relative;
  margin: 20px 10px 0px 10px ;
 }
 .news2{
  display: flex;
 }

 .img2-1{
  margin: 30px 5px 0px 30px;
 }

 .img2-2{
  margin:30px 5px 0px 10px;
 }

 .date2{
  font-size: 15px;
  margin:45px 5px 0px 10px;
 }

 .img2-3{
  margin: 30px 5px 0px 400px;
 }

 .news2-ment{
  /* overflow: hidden; */
  font-size: 35px;
  height: 80px;
  /* margin: 15px 0px 0px 0px; */
  margin-left: 6%;
  margin-top: 18px;
  cursor: pointer;
  
 }

  .news2-ment a{
    text-decoration: none;
    color: black;
  }
  .news-main{
    display: flex;
  }
  /* 컨테이너4 */
  .news-container4{
    width: 550px;
  height: 100px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  position: relative;
  margin: 20px 10px 0px 55px ;
  cursor: pointer;
 }

 .news-container4 a{
  text-decoration: none;
 }

 .news3{
  display: flex;
  padding: 20px 20px;
  justify-content: space-between;
  margin: 10px 10px 0px 20px;
  align-items: center;
  color: black;
 }

 .all-news{
  font-size: 30px;
  
 }

 .baro{
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 4px 0px 4px 0px;
 }

 /* 컨테이너5 */
 .news-container5{
  width: 550px;
height: 100px;
background-color: hsl(0, 0%, 95%);
border-radius: 20px;
position: relative;
margin: 20px 10px 0px 10px ;
cursor: pointer;
}

.news-container5 a{
text-decoration: none;
}

.news4{
display: flex;
padding: 20px 20px;
justify-content: space-between;
margin: 10px 10px 0px 20px;
align-items: center;
color: black;
}

.all-news1{
  font-size: 35px;
}

/* 컨테이너6 */
.news-container6{
  width: 550px;
height: 100px;
background-color: hsl(0, 0%, 95%);
border-radius: 20px;
position: relative;
margin: 20px 10px 0px 10px ;
cursor: pointer;
}

.news-container6 a{
text-decoration: none;
}

.news5{
display: flex;
padding: 20px 20px;
justify-content: space-between;
margin: 10px 10px 0px 20px;
align-items: center;
color: black;
}

.all-news2{
  font-size: 35px;
}

/* 4번 : 약속과 책임 */
#promise-main{
  height: 800px;
  width: 1400px;
  background-color: white;
}

.promise{
  margin: auto;
  display: flex;
  font-size: 35px;
}

.promise-logo{
  height: 80px;
  width: 50px;
  display: flex;
}

.promise-ment{
  font-size: 35px;
  display: flex;
  height: 55px;
  
}

.promise-container{
  width: 1000px;
  height: 100px;
  display: flex;
  margin-left: 25px;
}

/* 무엇을 도와드릴까요*/
#help-main{
  height: 900px;
  width: 1400px;
  background-color: white;
}

.help{
  margin: auto;
  display: flex;
  /* font-size: 40px; */
}

.help-logo{
  height: 80px;
  width: 60px;
  display: flex;
}

.help-ment{
  font-size: 35px;
  display: flex;
  height: 60px;
  
}

/* 5번표 세로 1 */
.help-container{
  width: 480px;
  /* height: 350px; */
}

.help1{
  width: 450px;
  height: 155px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 25px;
  margin: 0px 10px 0px 10px ;
  cursor:pointer;
}


.help-center{
  font-size: 20px;
  width: 200px;
  margin: 10px;
  padding: 30px;
}

.help-baro{
  font-size: 20px;
  width: 150px;
  height: 50px;
}

.baro-go{
  font-size: 20px;
}

.help1 li{
  list-style-type: none; 
}



.kakao-guest{
  transform: translate(320px, -50px);
}

/* 5번 세로2 */
.help2{
  width: 450px;
  height: 155px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 25px;
  margin: 10px 10px 0px 10px ;
  cursor:pointer;
}


.help-center2{
  font-size: 20px;
  width: 200px;
  margin: 10px;
  padding: 30px;
}

.help-baro2{
  font-size: 20px;
  width: 150px;
  height: 50px;
}

.baro-go{
  font-size: 20px;
}

.help2 li{
  list-style-type: none; 
}

.daum-guest{
  transform: translate(290px, -85px);
}


/* 5번 세로3 */
.help3{
  width: 450px;
  height: 155px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 25px;
  margin: 10px 10px 0px 10px ;
  cursor:pointer;
}

.help-center3{
  font-size: 20px;
  width: 200px;
  margin: 10px;
  padding: 30px;
}

.help-baro3{
  font-size: 20px;
  width: 150px;
  height: 50px;
}

.baro-go3{
  font-size: 20px;
}

.help3 li{
  list-style-type: none; 
}

.comm-guest{
  transform: translate(290px, -85px);
}


/* 5번 오른쪽 표 */
.help2-1{
  display: flex;
  transform: translate(470px, -490px);
}

/* 5번 아래 투자정보1 */
.help-container3{
  display: flex;
  /* justify-content: center; */
  transform: translate(10px, -500px);
}
.help4{
  width: 700px;
  height: 180px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 25px;
  margin: 10px 0px 0px 0px ;
  cursor:pointer;
}

.help-center4{
  font-size: 20px;
  width: 200px;
  padding: 45px;
}

.help-baro4{
  font-size: 25px;
  width: 150px;
  height: 50px;
}

.baro-go{
  font-size: 20px;
}

.help4 li{
  list-style-type: none; 
}

.comm4-guest{
  transform: translate(550px, -75px);
}




/* 5번 아래 투자정보2 */
.help5{
  width: 650px;
  height: 180px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 25px;
  margin: 10px 10px 0px 10px ;
  cursor:pointer;
}

.help-center5{
  font-size: 20px;
  width: 200px;
  margin: 10px;
  padding: 40px;
}

.help-baro5{
  font-size: 20px;
  width: 350px;
  height: 50px;
}

.baro-go{
  font-size: 20px;
}

.help5 li{
  list-style-type: none; 
}

.comm5-guest{
  transform: translate(500px, -75px);
}

/* 카카오소식모아보기 */

.help6{
  width: 350px;
  height: 80px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 50px;
  margin:0px auto 60px auto;
  font-size: 25px;
  transform: translate(10px, -480px);

}

.help-center6{
  display: flex;
  margin-top: auto;
  justify-content: center;
  cursor: pointer;
}

.help-center6 h6{
  margin-top: 20px;
  font-size: 25px;
}

.kakao-news img{
 margin-top: 25%;
}


/* 푸터 */
footer{
  background-color: white;
  height: 300px;
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

/* 오늘의 카카오 */
.footer-1 h3{
  font-size: 23px;
  margin-bottom: 20px;
  margin: 15px;
}
.footer-1{
  width: 200px;
}

.footer-1 ul{
  width: 200px;
  height: 80px;
  margin:10px 10px 0px 20px;
  list-style-type: none;
  font-size: 15px; 
}

.nav-list1 a{
  text-decoration: none;
  color: black;
}

/* 카카오그룹의 서비스 */

.footer-2{
  width: 200px;
  margin-left: 10px;
}
.footer-2 h6{
  font-size: 15px;
  margin-bottom: 10px;

  padding: 60px 0px 0px 0px;
}

.nav-list2 a{
  margin-left: -20px;
}

.footer-2 ul{
  width: 200px;
  height: 80px;
  margin:10px 10px 0px 20px;
  list-style-type: none;
  font-size: 15px; 
}

.nav-list2 a{
  text-decoration: none;
  color: black;
}

/* 카카오그룹 */
.footer-3{
  width: 200px;
  margin-left: 30px;
}
.footer-3 h6{
  font-size: 15px;
  margin-bottom: 10px;

  padding: 60px 0px 0px 0px;
}

.footer-3 ul{
  width: 150px;
  height: 80px;
  margin:10px 10px 0px 20px;
  list-style-type: none;
  font-size: 15px; 
}

.nav-list3 a{
  margin-left: -20px;
  text-decoration: none;
  color: black;
}

/* footer4 */
.footer-4{
  width: 150px;
  margin-right: 20px;
}
.footer-4{
  font-size: 18px;
  margin-bottom: 10px;

  padding: 75px 0px 0px 0px;
} 

.footer-4 ul{
  width: 150px;
  height: 80px;
  margin:10px 10px 0px 40px;
  list-style-type: none;
  font-size: 15px; 
}

.nav-list4 a{
  margin-left: -25px;
  text-decoration: none;
  color: black;
}

/* footer5 */
.footer-5{
  width: 150px;
  margin-left: 0px;
}
.footer-5 h6{
  font-size: 15px;
  margin-bottom: 10px;
  padding: 60px 0px 0px 0px;
  margin-left: 45%;
} 

.footer-5 ul{
  width: 200px;
  height: 80px;
  margin:10px 10px 0px 70px;
  list-style-type: none;
  font-size: 15px; 
}

.nav-list5 a{
  /* margin-right: 30%; */
  text-decoration: none;
  color: black;
}

/* footer6 */
.footer-6{
  width: 150px;
  margin-left: 5%;
}
.footer-6 h6{
  font-size: 15px;
  margin-bottom: 10px;
  padding: 60px 0px 0px 0px;
  margin-left: 30%;
} 

.footer-6 ul{
  width: 200px;
  height: 80px;
  margin:10px 10px 0px 50px;
  list-style-type: none;
  font-size: 15px; 
}

.nav-list6 a{
  /* margin-right: 30%; */
  text-decoration: none;
  color: black;
}

/* 이용약관 */

.footer-7{
  width: 1400px;
  margin-left: 5%;
}

.footer-7 ul{
  display: flex;
  list-style-type: none;
}

.last{
  width: 1400px;
  transform: translate(-1200px, 300px);
}

.nav-list7 ul{
  width: 200px;
  height: 80px;
  /* margin:10px 10px 0px 50px; */
  font-size: 1px; 
}

.nav-list7 a{
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: 10px;
}